<nav-page>
    <nav-bar class="nav-title-slide-ios7"
             type="bar-positive"
             back-button-type="button-icon"
             back-button-icon="icon ion-arrow-left-c">
    </nav-bar>
    <content has-header="true" scroll="false">

        <button class="button button-positive button-block" ng-click="captureAudio()">Audio</button>
        <button class="button button-positive button-block" ng-click="captureVideo()">Video</button>
        <button class="button button-positive button-block" ng-click="captureImage()">Image</button>
        {{message}}
    </content>
</nav-page>