<nav-page>
    <nav-bar class="nav-title-slide-ios7"
             type="bar-positive"
             back-button-type="button-icon"
             back-button-icon="icon ion-arrow-left-c">
    </nav-bar>
    <content has-header="true" scroll="false">
        <h2>Device</h2>

        <label>Device Name:</label>{{device.name}}</br>
        <label>Device Cordova:</label>{{device.cordova}}</br>
        <label>Device Platform:</label>{{device.platform}}</br>
        <label>Device UUID:</label>{{device.uuid}}</br>
        <label>Device Model:</label>{{device.model}}</br>
        <label>Device Version:</label>{{device.version}}</br>
    </content>
</nav-page>
